*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #C7E9FB, #86A8E7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Container */
.Rcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* To-Do Container */
.container {
    background: #FFFFFF;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#newtask {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
}

#newtask input {
    flex: 1;
    padding: 10px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    margin-right: 10px;
}

#newtask button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #86A8E7;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#tasks {
    display: none;
}

.task {
    background-color: #FFFFFF;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E0E0E0;
    cursor: pointer;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 10px;
}

.task .button-group {
    display: flex;
    gap: 10px;
}

.task button {
    background-color: #86A8E7;
    padding: 0.5em;
    color: #FFFFFF;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.task button:hover {
    background-color: #577FCF; /* Darker version of the button color */
}

.completed {
    text-decoration: line-through;
}

/* Timer Styles */
.stopWatch {
    padding: 20px;
    text-align: center;
    margin: 5em;
}

#timerDisplay {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    display: block;
}

#timerControls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#timerControls button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: #86A8E7;
    color: white;
    transition: background-color 0.3s ease;
}

#timerControls button:hover {
    background-color: #577FCF; /* Darker version of the button color */
}
